@charset "UTF-8";
/* CSS Document */

/* The Nav bar was made by the help of W3Schools.
Link: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

/* .icon {background: url('../Images/GitHub-Mark-Light-32px.png') no-repeat;
    height:32px;
    width:32px;
    margin-top:10px;
    display: inline-block;
    margin-left:30px;
} */

.navbar-default {
    padding-top: 15px;
    padding-right:15px;
    width:100%;
    position:fixed;
    transition:500ms ease;
    background:transparent; }

.cont {
    width:auto;
    margin-right:30px;
}

.navbar-default.scrolled {
    background:#0d2c58; } 
  
.navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
  
.dropdown {
    float: right;
    overflow: hidden;
    font-family: 'PT Sans Narrow', sans-serif;
}
  
.dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 35px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*  */
.dropbtn { 
    border-radius:5px;
}

.home_a {
    font-size: 20px;
    border-radius:5px;
    font-family: 'PT Sans Narrow', sans-serif;
    width: 90px;
    text-align: center;
}
/*  */
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#0d2c58;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;

    font-family: 'PT Sans Narrow', sans-serif;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 20px;
}
  
.dropdown-content a:hover {
    background-color: #dcdcdc;

    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}